*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 1170px;
    margin: auto;
}

header{
    background: url("images/WWE-wallpapers-HD-for-desktop.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.nav-area li a:hover{
    background-color: #fff;
    color: #333;
}